.App {
  text-align: center;
}

.App h1{
  font-size: 80px;
}
.minus{
  border: none;
  background:  red;
  width: 80px;
  height: 30px;
  color: white;
  font-size: 18px;
  margin: 20px;
}


.plus{
  border: none;
  background:  green;
  width: 80px;
  height: 30px;
  color: white;
  font-size: 18px;
  margin: 20px;
}